*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blanchedalmond;
}
h1{
    background: linear-gradient(90deg, #00a1ff, #00ff8f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar{
    background-color: wheat;
    color: teal;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    width: 60px;
    height: 60px;
}
.navbar ul{
    text-align: center;
    list-style-type: none;
}
.navbar li{
    font-size: 19px;
    display: inline-block;
    margin-right: 25px;
}
.login a{
    font-family: monospace;
    font-size: 16px;
    padding: 8px 20px;
    background-color:teal;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.banner{
    background-image: url('bg.jpg');
    background-size: cover;
    position: relative;
    height: 500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.banner-content{

}
.banner h2{
    font-size: 36px;
    margin-bottom: 20px;
}
.banner p{
    font-size: 18px;
    margin: 0 auto;
}
.banner button{
    background-color: teal;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    
}
.banner button:hover{
    background-color: #005b4f;
    transform: scale(1.1);
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    background-color: blanchedalmond;
}
.card{
    flex: 0 0 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 60px;
    margin-top: -50px;
}
.card:hover{
    box-shadow: 0 8px 16px;
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-title{
    font-size: 24px;
    margin-bottom: 30px;
    color: #d80000;
}
.btn{
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: #005b4f;
    transform: scale(1.02);
}
h1{
    text-align: center;
}
.card-container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    background-color: blanchedalmond;
    margin-top: -100px;
}
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: auto;
}
.brands img{
    width: 100px;
    height: auto;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    filter: grayscale(100%); /* Apply grayscale filter to make the images black and white by default */
    transition: filter 0.3s;
}
.brands img:hover{
    filter: grayscale(0%);
}
.copyright {
    background-color: #606b66;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
  }
  .footer {
    display: flex;
    background-color: #f2f2f2;
    padding: 25px 50px;
    font-family: "Montserrat", sans-serif;
  }
  .footer__col {
    width: 25%;
    min-height: 200px;
  }
  .footer__lists {
    list-style-type: none;
  }
  .footer__list {
    margin-top: 10px;
  }
  .footer__link {
    text-decoration: none;
    color: #0b0421;
  }
  .footer__link:hover {
    color: #1b9ada;
    text-decoration: underline;
  }
  .footer__logo {
    max-width: 170px;
  }
  .footer__content {
    margin-top: 20px;
  }
  .footer__content a {
    color: #0b0421;
  }
  .footer__content a:not(:first-child) {
    margin-left: 10px;
  }
  .footer__content a:hover {
    color: #f0c244;
  }